* {
    background-color: #F8F8F8;
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}
body > :not(header){
    display: flex;
}

/* {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

header {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 64px;
    margin-right: 40px;
    align-items: center;
}

.logoCabecalho {
    margin: 0px;
    padding: 0px;
}

.pesquisa nav ul {
    display: flex;
    align-items: center;
}

.pesquisa nav ul li {
    padding-right: 16px;
    list-style-type: none;
}

#buscar {
    width: 313px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid #BA4848;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    color: #C0C0C0;
    padding-left: 49px;
}

main, aside {
    margin: 0px 88px;
}

hr {
    margin: 4px 0px;
    color: #85AEC0;
}

#sideBarFoto {
    background-image: none;
}

.usuario nav ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    width: 250px;
    height: 1022px;
    padding: 40px 14px;
    flex-direction: column;
    align-items: left;
    border-radius: 125px 125px 16px 16px;
    background: linear-gradient(180deg, #BA4848 0%, #DB8054 100%);
}

.menu nav li {
    color: white;
    background: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding-left: 64px;
}

/*header nav ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
}

/*header h2 {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
    width: 20px;
}*/

/*#lupa {
    position: relative;
    left: 120px;
    bottom: 70px;
}

#logo {
    position: relative;
    width: 180px;
    height: auto;
    justify-content: flex-start;
}

hr {
    position: relative;
    bottom: 40px;
    width: 1850px;
    height: 0px;
    border-color:#BA4848;
}

.sideBar {
    position: relative;
    width: 140px;
    height: 600px;
    background-color: #BA4848;
    bottom: 30px;
    border-radius: 100px 100px 0px 0px;
    padding-top: 100px;

}

.sideBar nav ul li {
    list-style-type: none;
    text-decoration: none;
}

main {
    position: relative;
    left: 160px;
    bottom: 650px;
}*/