* {
    background-color: #F8F8F8;
    margin: 0px 16px ;
    padding: 0px;
}

header {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logoCabecalho {
    margin: 0px;
    padding: 0px;
}

.pesquisa nav ul {
    display: flex;
    align-items: center;
}

.pesquisa nav ul li {
    padding-right: 16px;
    list-style-type: none;
}

.menu ul li {
    list-style-type: none;
}

/*header nav ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
}

/*header h2 {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
    width: 20px;
}*/

/*#lupa {
    position: relative;
    left: 120px;
    bottom: 70px;
}

#logo {
    position: relative;
    width: 180px;
    height: auto;
    justify-content: flex-start;
}

hr {
    position: relative;
    bottom: 40px;
    width: 1850px;
    height: 0px;
    border-color:#BA4848;
}

.sideBar {
    position: relative;
    width: 140px;
    height: 600px;
    background-color: #BA4848;
    bottom: 30px;
    border-radius: 100px 100px 0px 0px;
    padding-top: 100px;

}

.sideBar nav ul li {
    list-style-type: none;
    text-decoration: none;
}

main {
    position: relative;
    left: 160px;
    bottom: 650px;
}*/