* {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  margin: 0 auto;
  width: 90%;
  margin-top: 150px;
  margin-bottom: 3rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #85aec0;
}

#logo {
  width: 200px;
  margin-left: 80px;
}

header nav ul {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 60px;
  padding: 0px;
  align-items: center;
}

header nav ul li {
  margin-left: 3px;
  list-style-type: none;
}

header nav button {
  border: none;
  background-color: #f8f8f8;
}

#buscar {
  border: 1px solid #ba4848;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 50px;
  font-size: 20px;
  background-image: url(/imagens/icones/icon.lupa.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.5em;
  box-shadow: 0px 0px 15px 0px #c0c0c0;
}

.sideBar {
  background: linear-gradient(180deg, #ba4848 0%, #db8054 100%);
  width: auto;
  height: 100%;
  margin: 0px 10px;
  padding: 20px 20px 0px 20px;
  border-radius: 100px 100px 10px 10px;
}

#sideBar-foto {
  width: 100%;
  margin-bottom: 10px;
}

.sideBarInfo {
  background-color: white;
  border-radius: 500px;
  padding: 8px 20px;
  margin-bottom: 16px;
}

.sideBarInfo h1 {
  font-size: 16px;
  white-space: nowrap;
  color: #28434f;
  padding-left: 12px;
}

.sideBarInfo p {
  font-size: 16px;
  color: #28434f;
  padding-left: 12px;
}

.Home {
  border-top: 1px solid white;
  margin-top: 15px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

aside ul {
  list-style-type: none;
}

#LiHome {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.home.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiMetas {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.metas.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiMentorias {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.mentorias.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiPlanjemaneto {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.planejamento.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiConexoes {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.conexoes.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiGrupoEstudos {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.grupoDeEstudos.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

.RedesSocias {
  position:static;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
  padding-top: 15px;
  margin-top: 50px;
}

.RedesSocias ul {
  display: flex;
}

.RedesSocias li {
  padding: 8px;
  width: 16px;
  height: 216px;
}


main {
  background-color: #f8f8f8;
  padding: 1rem;
  width: auto;
}

main #cards {
  display: flex;
  justify-content: space-between;
}

main h1 {
  font-size: 32px;
  color: #28434f;
  padding-bottom: 10px;
}

main h2 {
  font-size: 20px;
  color: #28434f;
  padding-top: 10px;
  padding-bottom: 20px;
  
}

main h3 {
  font-size: 20px;
  color: #28434f;
  padding-top: 10px;
  padding-bottom: 20px;
}

main h4 {
  font-size: 16px;
  color: #28434f;
}

main hr {
  border-bottom: 1px solid #85aec0;
}

main p {
  font-size: 16px;
  color: #28434f;
}

#match {
    padding: 4px 0px 4px 0px;
}

.cardMentor {
  width: auto;
  height: 392px;
  border-radius: 16px;
  border: 2px solid #85aec0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

#fotoMentorSugerido {
  width: 250.137px;
  height: 251px;
  border-radius: 8px;
}

main ul {
  list-style-type: none;
}

#LiIconJob {
  justify-content: left;
  background-image: url(/imagens/icones/icon.cardMentores.maletinha.svg);
  background-repeat: no-repeat;
  background-size: 1.2em;
}

#LiIconAvalia {
  margin-bottom: 10px;
  padding-left: 4px;
  background-image: url(/imagens/icones/icon.cardMentores.estrelinha.svg);
  background-repeat: no-repeat;
  background-size: 1.2em;
}

.cardMentor b {
  font-size: small;
  font-style: bold;
}

.cardMentor .bottom-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: #FFF;
  padding: 8px 0px 8px 0px;
}

.cardMentor .button-agenda {
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardMentor .infoMentor {
  margin-left: 16px;
}

.button-ver-mais {
  display: flex;
  padding: 4px 8px;
  justify-content: right;
  align-items: center;
  margin-right: 0px;
}

.cardAgendRecent {
  width: auto;
  height: 88px;
  border-radius: 16px;
  border: 2px solid #85aec0;
  padding: 16px 16px;
  margin-bottom: 8px;
}

.cardAgendRecent .infoMentorRecent {
  padding-left: 96px;
}

.cardAgendRecent b {
  font-size: small;
  font-style: bold;
}

.cardAgendRecent .button-enviarMensagem {
  width: 136px;
  height: 24px;
  display:flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #28434F;
  text-align: center;
}

#fotoMentorRecent {
  width: 88px;
  height: 88px;
}

.cardLateralDireitaPerfil {
  width: 312px;
  height: 136px;
  border-radius: 16px;
  background: #fff;
}

.cardLateralDireitaDesempenho {
  width: 312px;
  height: 136px;
  border-radius: 16px;
  background: #fff;
  color: #28434F;
  text-align: center;
}

.cardLateralDireitaPremium {
  width: 312px;
  height: 224px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px #c0c0c0;
  color: #ba4848;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button-premium {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-indique {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardLateralDireitaDicas {
  width: 312px;
  height: 301px;
  border-radius: 16px;
  background: #fff;
}


/*header nav ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
}

/*header h2 {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
    width: 20px;
}*/

/*#lupa {
    position: relative;
    left: 120px;
    bottom: 70px;
}

#logo {
    position: relative;
    width: 180px;
    height: auto;
    justify-content: flex-start;
}

hr {
    position: relative;
    bottom: 40px;
    width: 1850px;
    height: 0px;
    border-color:#BA4848;
}

.sideBar {
    position: relative;
    width: 140px;
    height: 600px;
    background-color: #BA4848;
    bottom: 30px;
    border-radius: 100px 100px 0px 0px;
    padding-top: 100px;

}

.sideBar nav ul li {
    list-style-type: none;
    text-decoration: none;
}

main {
    position: relative;
    left: 160px;
    bottom: 650px;
}*/