* {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  margin: 0 auto;
  width: 90%;
  margin-top: 150px;
  margin-bottom: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #85aec0;
}

#logo {
  width: 200px;
  margin-left: 80px;
}

header nav ul {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 60px;
  padding: 0px;
  align-items: center;
}

header nav ul li {
  margin-left: 3px;
  list-style-type: none;
}

header nav button {
  border: none;
  background-color: #f8f8f8;
}

#buscar {
  border: 1px solid #ba4848;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 50px;
  font-size: 20px;
  background-image: url(/imagens/icones/icon.lupa.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.5em;
  box-shadow: 0px 0px 15px 0px #c0c0c0;
}

.sideBar {
  background: linear-gradient(180deg, #ba4848 0%, #db8054 100%);
  width: auto;
  height: 100%;
  margin: 0px 10px;
  padding: 20px 20px 0px 20px;
  border-radius: 100px 100px 10px 10px;
}

#sideBar-foto {
  width: 100%;
  margin-bottom: 10px;
}

.sideBarInfo {
  background-color: white;
  border-radius: 500px;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.sideBarInfo h1 {
  font-size: 16px;
  white-space: nowrap;
  color: #28434f;
  padding-left: 12px;
}

.sideBarInfo p {
  font-size: 16px;
  color: #28434f;
  padding-left: 12px;
}

aside ul {
  list-style-type: none;
}

.Home {
  border-top: 1px solid white;
  margin-top: 15px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#LiHome {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.home.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiMetas {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.metas.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiMentorias {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.mentorias.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiPlanjemaneto {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.planejamento.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiConexoes {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.conexoes.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

#LiGrupoEstudos {
  margin-bottom: 10px;
  padding-left: 50px;
  background-image: url(/imagens/icones/icon.sidebar.grupoDeEstudos.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
}

.RedesSocias {
  position:static;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
  padding-top: 15px;
  margin-top: 50px;
}

.RedesSocias ul {
  display: flex;
}

.RedesSocias li {
  padding: 8px;
  width: 16px;
  height: 216px;
}

main {

margin: auto;
width: 60%;
padding: 100px;

} 
 

main h1 {
  font-size: 32px;
  color: #28434f;
  padding-bottom: 10px;
  border-bottom: 1px solid #85aec0; 
}

main h3 {
  font-size: 20px;
  color: #28434f;
  padding-top: 10px;
  padding-bottom: 20px;
} 

.container{
  border: 1px solid #85aec0; 
  border-radius: 8px;
  padding: 4px 8px;
  color: #28434f;
}
